@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@200;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #0290ff;
  --dark-color: #121212;
  --light-color: #e8e8e8;
  font-size: 16px;
}
